---
import Navigation from "./Navigation.astro";
---

<header class="site-header">
  <div class="container header-inner">
    <a class="site-brand" href="/" aria-label="Kamatamare Sanuki English Guide home">
      <span class="site-brand__name">Kamatamare Sanuki</span>
      <span class="site-brand__tagline">English Matchday Guide</span>
    </a>
    <Navigation />
  </div>
</header>
